functions

function is define as def keyword

In [2]:
y = 'malla reddy university'
y

'malla reddy university'

In [3]:
y.count('a')  # this are the some default function which come by default

2

In [4]:
# structure of functio 
def functionName(parameter):
    block of code
    return output

SyntaxError: invalid syntax (424049635.py, line 3)

In [5]:
def calArea(r):
    a = 3.14*r*r
    return a   #always return value instead of print

In [6]:
calArea(10)

314.0

In [7]:
w = calArea(2)
w

12.56

In [8]:
type(w)

float

In [9]:
w + 6  #if we print the value in calArea function it wont give the output for this but we used return so it gives the output because it return the value with datatype and print 
        # print statement have none type

18.560000000000002

In [15]:
def sum(a , b):
    c = a+b
    return c

In [17]:
d = sum(3,4)

In [18]:
d

7

In [19]:
type(d)  #return

int

In [20]:
def plus(a , b):
    c = a+b
    print(c)

In [21]:
f = plus(4,3)

7

In [22]:
type(f)  # print

NoneType

In [23]:
def areaReac(l,w):
    a = l*w
    return a

In [24]:
areaReac(2,2)

4

In [48]:
def area(a,b,c):
    x = 3.14*a*a
    y = b*c
    return {'Area of circle': x,'Area of triangle':y}

In [49]:
a = int(input())
b = int(input())
c = int(input())
area(a,b,c)

5
3
1

{'Area of circle': 78.5, 'Area of triangle': 3}

In [30]:
t = 'HyderabAAd'

In [31]:
t

'HyderabAAd'

In [36]:
def num(h):
    a = t.count('A')
    b = t.count('a')
    return {'A':a , 'B':b}

In [37]:
num('HyderabAAd')

{'A': 2, 'B': 1}

In [39]:
def num(h):
    z = h.lower()
    a = z.count('a')
    #b = t.count('a')
    return {'A':a }

In [40]:
num('HyderabAAd')

{'A': 3}

In [44]:
def alpha_num(n):
    c = 0
    d = 0
    for i in n:
        if i.isalpha():
            c+=1
        elif i.isnumeric():
            d+=1
    return{'alphabates':c,'numeric':d}

In [46]:
alpha_num("hyderabaad  500008  telangana")

{'alphabates': 19, 'numeric': 6}

In [50]:
num = [22,51,56,74,97,88,32,1,9]
num

[22, 51, 56, 74, 97, 88, 32, 1, 9]

In [51]:
def evenorodd(num):
    z = []
    y = []
    for i in num:
        if(i%2==0):
            z.append(i)
        else:
            y.append(i)
    return {'Even':z , 'odd':y}

In [53]:
a = evenorodd(num)

In [54]:
a

{'Even': [22, 56, 74, 88, 32], 'odd': [51, 97, 1, 9]}

In [57]:
a['Even']  # as it is disctionary we can print seprate

[22, 56, 74, 88, 32]

In [58]:
a['odd']

[51, 97, 1, 9]