write a program to know number is positive negative or zero

In [5]:
x=-5.8
if x>0:
    print('pos')
elif x<0:
    print('neg')
else:
    print('zero')

neg

In [11]:
y=3
if y>5:
    print('M')
elif y>4:
    print('K')
elif y>7:
    print('H')
else:
    print('O')

O

In [12]:
t = 'hyderabad'

In [13]:
type(t)

str

In [14]:
t[1]

'y'

In [15]:
t[-1]

'd'

In [16]:
t[1:-1]

'yderaba'

In [17]:
t[7:-1]

'a'

In [33]:
x = 'telangana'
x = 'Tiger'
x = 'ten'
if x[0]=='t' or x[0]=='T':
    print('yes')
else: 
    print('no')

yes

In [38]:
x = 'shimla'
if x[0]=='s' or x[1]=='h'or x[3]=='m' :
    print('yes')
else:
    print('no')

yes

In [49]:
A = 'Shimla'
if A[0].lower() == 's' or 'h' or 'm':
    print('yes')
else:
    print('no')

yes

In [47]:
x = 'shimla'
if x[0].lower() in ('s','h','m') :
    print('yes')
else:
    print('no')

yes